.skillcontainer {
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: white;
  background-size: 100vh;
}
.education {
  padding-top: 100px;
  padding-bottom: 30px;
  padding-left: 10px;
}
.skills {
  padding-bottom: 30px;
  padding-left: 10px;
  padding-top: 30px;
}
.box {
  background-color: brown;
  padding: 30px;
  width: 700px;
  margin-left: 150px;
}
.degree {
  padding: 15px;
}
.skill {
  background-color: blue;
  padding: 5px;
  border-radius: 10px;
  align-items: center;
  margin-left: 20px;
}
