@import url("https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Inspiration&family=Poppins:ital,wght@0,300;0,400;0,500;1,100&family=Roboto:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&family=Rubik+Moonrocks&display=swap");
* {
  margin: 0;
}
.home {
  background: linear-gradient(purple, white, violet, brown, violet);
  height: 100vh;
}
.heading {
  padding-top: 150px;
  font-family: "Rubik Moonrocks", cursive;
  font-size: 75px;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.btn {
  margin-left: 50%;
  margin-top: 150px;
  font-family: "Inspiration", cursive;
  font-weight: 800;
  font-size: 50px;
  text-align: center;
  padding: 25px 50px;
  border: none;
  border-radius: 25px;
  background: url(../../assets/letters.jpg);
  background-size: cover;
  background-position: center;
}
.btn > a {
  color: white;
}
